<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" #deleteModal
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="deleteResource">
        <p>Do you want to delete resource <strong>"{{deleteResource.name}}"</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteResource()" [disabled]="modalLoading">
          <ng-container *ngIf="modalLoading">
            Deleting Resource...<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </ng-container>
          <ng-container *ngIf="!modalLoading">Delete Resource</ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
