<div class="spinner-border" role="status" *ngIf="!resource">
  <span class="sr-only">Loading...</span>
</div>
<!--<table *ngIf="resource">-->
<!--  <tr>-->
<!--    <td>Resource Name</td>-->
<!--    <td>{{resource.resourceData.name}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Resource Id</td>-->
<!--    <td>{{resource.resourceId}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Resource Type</td>-->
<!--    <td>{{resource.type}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Order</td>-->
<!--    <td>{{resource.order}}</td>-->
<!--  </tr>-->
<!--</table>-->

<ng-container [ngSwitch]="resource.type">

  <app-code-viewer-editor *ngSwitchCase="ResourceTypes.RESOURCE_CODE_SNIPPET"
    [resource]="resource.resourceData" [editMode]="editMode" [courseId]="courseId"
  ></app-code-viewer-editor>

  <app-markdown-viewer-editor *ngSwitchCase="ResourceTypes.RESOURCE_MARKDOWN"
    [resource]="resource.resourceData" [editMode]="editMode" [courseId]="courseId">

  </app-markdown-viewer-editor>

  <app-repository-viewer *ngSwitchCase="ResourceTypes.RESOURCE_REPOSITORY" [courseId]="courseId"
                         [resource]="resource.resourceData" [editMode]="editMode"
  ></app-repository-viewer>

  <app-file-view *ngSwitchCase="ResourceTypes.RESOURCE_FILE" [courseId]="courseId"
                 [resource]="resource.resourceData" [editMode]="editMode"
  ></app-file-view>

</ng-container>
