<div class="container my-container">
  <div class="row">
    <div class="col-md-12">
        <h1>Home Page</h1>

        <div class="container-fluid">
          <div class="row flex-nowrap card-deck" style="overflow-x: auto;white-space: nowrap;">
            <div class="d-flex flex-nowrap py-1" *ngIf="courses">
              <div *ngFor="let course of courses" style="text-overflow: ellipsis"
                   class="card card-body overflow-hidden shadow">
                <h6 >{{course.name}}</h6>
                <p>semester - {{course.semester}}</p>
              </div>
            </div>
          </div>
        </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Fast Actions
            </div>
            <div class="card-body">
              <div class="container-fluid">
                <div class="row  flex-nowrap card-deck">
                  <div class="card shadow" style="min-width: auto;">
                    <div class="card-body">
                      <h5 class="card-title">Enrolled Courses</h5>
                      <p>Check your courses</p>
                      <a [routerLink]="['courses']" class="btn btn-primary shadow-sm">Go Enrolled Courses</a>
                    </div>
                  </div>
                  <div class="card shadow" style="min-width: auto;">
                    <div class="card-body">
                      <h5 class="card-title">Profile</h5>
                      <p>Check your profile</p>
                      <a [routerLink]="['profile']" class="btn btn-primary shadow-sm">Go Your Profile</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

<!--        <div class="row mt-2">-->
<!--          &lt;!&ndash; Announcements Container &ndash;&gt;-->
<!--          <div class="col-md-6">-->
<!--            <div class="row no-gutters border rounded overflow-hidden flex-md-row-->
<!--              mb-4 shadow-sm h-md-250 position-relative p-2">-->
<!--              <h3 class="mt-2">Announcements</h3>-->
<!--              <hr>-->
<!--              <app-home-announcement-list [announcements]="myAnnouncements"></app-home-announcement-list>-->
<!--              &lt;!&ndash; <app-home-announcement-list-item *ngFor="let announcement of myAnnouncements; let i = index" [announcement]="announcement"></app-home-announcement-list-item> &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Tasks Container &ndash;&gt;-->
<!--          <div class="col-md-6">-->
<!--              <div class="row no-gutters border rounded overflow-hidden flex-md-row-->
<!--              mb-4 shadow-sm h-md-250 position-relative p-3">-->
<!--              <h3 class="mt-4">Tasks</h3>-->
<!--              <hr>-->
<!--                <button class="btn btn-outline-primary" (click)="getFooResource()">Foo</button>-->
<!--              <p>Sed sodales sit amet ex vitae posuere. Maecenas nunc nunc, posuere eget aliquam id, efficitur sit amet ante. Morbi euismod lorem quis purus pharetra, ac sollicitudin dolor euismod. Sed eu est ante. Nam ac ultricies eros. Ut sit amet mi imperdiet, consequat tortor a, sollicitudin dui. Ut blandit, sapien quis elementum egestas, dolor libero convallis nibh, non finibus ex ipsum vitae odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed maximus, sapien nec scelerisque blandit, magna diam consectetur risus, et convallis dolor metus a libero. Aliquam velit elit, tincidunt vel lorem at, laoreet pellentesque ex. Sed sed ullamcorper magna. Nam neque diam, tempor at consectetur at, malesuada sollicitudin quam. Cras commodo magna sit amet accumsan pulvinar. Sed finibus, elit eget tincidunt euismod, ligula nibh suscipit nisl, eget viverra enim felis at lorem.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


    </div>
  </div>
</div>

