<div>
  <h4>Resource Type</h4>
  <div class="input-group mb-3">
    <select class="custom-select" (change)="resourceTypeChanged($event)" [value]="currentResourceType" #selectResourceType>
      <option value="RESOURCES_ALL">All Resources</option>
      <option *ngFor="let opt of resourceTypesListSelect" [value]="opt.value">{{opt.name}}</option>
    </select>
  </div>
</div>
<div>
  <app-resource-table *ngIf="resources && !isLoading" [resourceType]="currentResourceType" [resources]="resources" [currentCourse]="course"
    (editResource)="onResourceEdit($event)" (deleteResource)="onResourceDelete($event)" [instructorMode]="true"
  >

  </app-resource-table>
  <div *ngIf="isLoading" class="spinner-border loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div>
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" (click)="openEditModal()"
    >
      <i appTooltip
         [placement]="'top'"
         [tooltipText]="'Hello world!'" class="fas fa-plus-circle"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="openEditModal()">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
</div>
<app-edit-resource #editResourceComponent (modalFormSubmittedSuccess)="resourceEditFomSubmittedSuccess($event)"></app-edit-resource>
<app-delete-resource #deleteResourceComponent (deleteSuccess)="resourceDeleteSuccess($event)"></app-delete-resource>
