<div class="card shadow-sm" (click)="this.onCourseClicked()">
  <div class="card-header">
    <a [routerLink]="['../course', courseItemIndex]">{{ course.name }}</a>
  </div>
  <div class="card-body">
    {{ course.description }}
    <div style="float: right; vertical-align: text-top">
      <table style="text-align: end">
        <tr>
          <span
            *ngFor="let prof of course.instructors; index as i"
            style="color: skyblue"
            >{{ prof.firstName + ' ' + prof.lastName }},
          </span>
        </tr>
        <tr>
          <span style="color: skyblue">Semester: {{ course.semester }}</span>
        </tr>
      </table>
    </div>
  </div>
</div>
