<p>instructor-course-sections works!</p>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of movies" cdkDrag>
        {{movie}}
        <div class="ml-auto">
          <button class="btn btn-outline-primary">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger ml-1">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    Edit here
  </div>
</div>

