<form
  *ngIf="resourceType === ResTypes.RESOURCE_LINK && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="resLinkName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="resLinkName"
      placeholder="Resource name"
      formControlName="resLinkName"
    />
  </div>
  <div class="form-group">
    <label for="resLinkUrl">Link URL</label>
    <input
      type="text"
      class="form-control"
      id="resLinkUrl"
      placeholder="Link URL"
      formControlName="resLinkUrl"
    />
  </div>
  <div class="form-group">
    <label for="resLinkDescription">Description</label>
    <input
      type="text"
      class="form-control"
      id="resLinkDescription"
      placeholder="Description"
      formControlName="resLinkDescription"
    />
  </div>
</form>

<form
  *ngIf="resourceType === ResTypes.RESOURCE_REPOSITORY && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="resRepoName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="resRepoName"
      placeholder="Resource name"
      formControlName="resRepoName"
    />
  </div>
  <div class="form-group">
    <label for="resRepositoryName">Repository Name</label>
    <input
      type="text"
      class="form-control"
      id="resRepositoryName"
      placeholder="Repository Name"
      formControlName="resRepositoryName"
    />
  </div>
  <div class="form-group">
    <label for="resRepoUrl">Repository URL</label>
    <input
      type="text"
      class="form-control"
      id="resRepoUrl"
      placeholder="Repository URL"
      formControlName="resRepoUrl"
    />
  </div>
  <div class="form-group">
    <label for="repoNameRepo">Repository / Name</label>
    <input
      type="text"
      class="form-control"
      id="repoNameRepo"
      placeholder="Repository / Name"
      formControlName="repoNameRepo"
      [ngModel]="getRepositoryName()"
    />
  </div>
</form>

<form
  *ngIf="resourceType === ResTypes.RESOURCE_FILE && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="resFileName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="resFileName"
      placeholder="Resource name"
      formControlName="resFileName"
    />
  </div>
  <div class="input-group mb-3">
    <label class="custom-file-label" for="resFileData">Choose file</label>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="resFileData"
        formControlName="resFileData"
        (change)="handleFileInput($event.target.files)"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="resFileFileName">File Name</label>
    <input
      type="text"
      class="form-control"
      id="resFileFileName"
      placeholder="File Name"
      formControlName="resFileFileName"
    />
  </div>
  <div class="form-group">
    <label for="resFileSummary">Summary</label>
    <input
      type="text"
      class="form-control"
      id="resFileSummary"
      placeholder="Summary"
      formControlName="resFileSummary"
    />
  </div>
</form>

<form
  *ngIf="resourceType === ResTypes.RESOURCE_CODE_SNIPPET && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="csName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="csName"
      placeholder="Resource name"
      formControlName="csName"
    />
  </div>
  <div class="form-group">
    <label for="csTitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="csTitle"
      placeholder="Title"
      formControlName="csTitle"
    />
  </div>
  <div class="form-group">
    <label for="csDescription">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="csDescription"
      placeholder="Description"
      formControlName="csDescription"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="csData">Code Snippet</label>
    <textarea
      type="text"
      class="form-control"
      id="csData"
      placeholder="Code Snippet"
      formControlName="csData"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="csLang">Language</label>
    <input
      type="text"
      class="form-control"
      id="csLang"
      placeholder="Language"
      formControlName="csLang"
    />
  </div>
</form>

<form
  *ngIf="resourceType === ResTypes.RESOURCE_MARKDOWN && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="mdName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="mdName"
      placeholder="Resource name"
      formControlName="mdName"
    />
  </div>
  <div class="form-group">
    <label for="mdTitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="mdTitle"
      placeholder="Title"
      formControlName="mdTitle"
    />
  </div>
  <div class="form-group">
    <label for="mdDescription">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="mdDescription"
      placeholder="Description"
      formControlName="mdDescription"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="mdData">Markdown</label>
    <textarea
      type="text"
      class="form-control"
      id="mdData"
      placeholder="Markdown Data"
      formControlName="mdData"
    ></textarea>
  </div>
</form>

<form
  *ngIf="resourceType === ResTypes.RESOURCE_GUIDE && form"
  [formGroup]="form"
>
  <div class="form-group">
    <label for="gdName">Resource Name</label>
    <input
      type="text"
      class="form-control"
      id="gdName"
      placeholder="Resource name"
      formControlName="gdName"
    />
  </div>
  <div class="form-group">
    <label for="gTitle">Guide Title</label>
    <input
      type="text"
      class="form-control"
      id="gTitle"
      placeholder="Guide Title"
      formControlName="gTitle"
    />
  </div>
  <div class="form-group">
    <label for="gDescription">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="gDescription"
      placeholder="Guide Description"
      formControlName="gDescription"
    ></textarea>
  </div>
</form>
